[package]
name = "ota"
version = "0.1.0"
edition = "2024"

[features]
default = []
std = []

[dependencies]
sunset.workspace = true
sunset-async.workspace = true
sunset-sftp.workspace = true

log.workspace = true
sha2.workspace = true
rustc-hash.workspace = true
# Will avoid adding esp-idf dependencies to riscv build
# esp-idf-hal = "0.45" 
# Error: Unsupported target 'riscv32imac-unknown-none-elf'
# esp-ota = "0.2.2" 

# Only for ota-packer binary
[target.'cfg(not(target_os = "none"))'.dependencies]
clap = "4.5"

[[bin]]
name = "ota-packer"
path = "src/bin/ota-packer.rs"
