[package]
name = "ota"
version = "0.1.0"
edition = "2024"

[features]
default = []
std = []

[dependencies]
sunset.workspace = true
sunset-async.workspace = true
sunset-sftp.workspace = true

log.workspace = true
sha2.workspace = true
rustc-hash.workspace = true


# Avoids issues with ota-packer building for x86_64-unknown-linux-gnu target
[target.'cfg(target_os = "none")'.dependencies]
esp-hal.workspace = true
storage = { path = "../storage" }
esp-bootloader-esp-idf.workspace = true
embedded-storage.workspace = true

# Only for ota-packer binary
[target.'cfg(not(target_os = "none"))'.dependencies]
clap = "4.5"

[[bin]]
name = "ota-packer"
path = "src/bin/ota-packer.rs"
