# SPDX-FileCopyrightText: 2025 Roman Valls, 2025
#
# SPDX-License-Identifier: GPL-3.0-or-later

[alias]
# No default features avoids selecting the default target (esp32c6) which would conflict with other target features.

build-esp32 = "build --release --target xtensa-esp32-none-elf --no-default-features --features esp32 -Z build-std=core,alloc"
build-esp32c2 = "build --release --target riscv32imc-unknown-none-elf --no-default-features --features esp32c2 "
build-esp32c3 = "build --release --target riscv32imc-unknown-none-elf --no-default-features --features esp32c3 "
# Available but not supported by esp-hal (yet).
#build-esp32c5 = "build --release --target riscv32imac-unknown-none-elf --no-default-features --features esp32c5"
build-esp32c6 = "build --release --target riscv32imac-unknown-none-elf --no-default-features --features esp32c6"
# Debug build (too big for target and probe-rs doesn't work anyway)
#build-esp32c6 = "build --target riscv32imac-unknown-none-elf --no-default-features --features esp32c6"
build-esp32s2 = "build --profile esp32s2 --target xtensa-esp32s2-none-elf --no-default-features --features esp32s2 -Z build-std=core,alloc"
build-esp32s3 = "build --release --target xtensa-esp32s3-none-elf --no-default-features --features esp32s3 -Z build-std=core,alloc"

run-esp32 = "run --release --target xtensa-esp32-none-elf --no-default-features --features esp32 "
run-esp32c2 = "run --release --target riscv32imc-unknown-none-elf --no-default-features --features esp32c2 "
run-esp32c3 = "run --release --target riscv32imc-unknown-none-elf --no-default-features --features esp32c3 "
# Available but not supported by esp-hal (yet).
#run-esp32c5 = "run --release --target riscv32imac-unknown-none-elf --no-default-features --features esp32c5"
run-esp32c6 = "run --release --target riscv32imac-unknown-none-elf --no-default-features --features esp32c6"

# Debug build (too big for target and probe-rs doesn't work anyway)
#run-esp32c6 = "run --target riscv32imac-unknown-none-elf --no-default-features --features esp32c6"
run-esp32s2 = "run --profile esp32s2 --target xtensa-esp32s2-none-elf --no-default-features --features esp32s2 "
run-esp32s3 = "run --release --target xtensa-esp32s3-none-elf --no-default-features --features esp32s3 "

# Test alias
test-ota = "test --package ota --target x86_64-unknown-linux-gnu"

[target.xtensa-esp32-none-elf]
runner = "espflash flash --baud=921600 --monitor --chip esp32"
rustflags = ["-C", "link-arg=-nostartfiles", '--cfg=feature="esp32"']
[target.riscv32imc-unknown-none-elf]
runner = "espflash flash --baud=921600 --monitor"
rustflags = ["-C", "force-frame-pointers"]
[target.riscv32imac-unknown-none-elf]
runner = "espflash flash --baud=921600 --partition-table partitions.csv --monitor"
rustflags = ["-C", "force-frame-pointers"]

[target.xtensa-esp32s2-none-elf]
runner = "espflash flash --baud=921600 --monitor --chip esp32s2"
rustflags = ["-C", "link-arg=-nostartfiles", '--cfg=feature="esp32s2"']
[target.xtensa-esp32s3-none-elf]
runner = "espflash flash --baud=921600 --monitor --chip esp32s3"
rustflags = ["-C", "link-arg=-nostartfiles", '--cfg=feature="esp32s3"']


# https://docs.espressif.com/projects/rust/esp-hal/1.0.0-beta.1/esp32c6/esp_hal/index.html#additional-configuration
[env]
ESP_LOG = "info"
#ESP_HAL_CONFIG_PLACE_SWITCH_TABLES_IN_RAM=true
#ESP_HAL_CONFIG_PLACE_ANON_IN_RAM=false
#ESP_HAL_CONFIG_FLIP_LINK=false
#ESP_HAL_CONFIG_STACK_GUARD_OFFSET=4096
#ESP_HAL_CONFIG_STACK_GUARD_VALUE=3740121773
#ESP_HAL_CONFIG_IMPL_CRITICAL_SECTION=true


[build]
target = "riscv32imac-unknown-none-elf"
# target = "x86_64-unknown-linux-gnu"

[unstable]
build-std = []
# build-std core and alloc has been moved as per alias parameter since 
# `unstable` section MUST be global and cannot be definde per target.
